.modal {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: auto;
	background: var(--color-white);
	border-radius: var(--border-radius-medium);
	padding: 1.5rem;
	outline: none;
	border: none;
	z-index: 9999;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 9998;
}

/* modal sizes */
.modal .modal-confirm-width {
	width: 320px;
}

.modal .modal-small-width {
	width: 300px;
}

.modal .modal-medium-width {
	width: 500px;
}

.modal .modal-large-width {
	width: 700px;
}

.modal .modal-xlarge-width {
	width: 900px;
}

.modal .modal-xxlarge-width {
	width: 1100px;
}

/* delete modal */
.del-modal > p,
.conf-madal > p {
	font-size: var(--font-size-large);
	margin-bottom: 0.5rem;
}

.del-modal > span {
	font-size: var(--font-size-medium);
	color: var(--color-red);
}

.del-modal > .buttons,
.del-modal > .buttons__right,
.del-modal > .buttons__center,
.del-modal > .buttons__left,
.confirm-modal > .buttons,
.confirm-modal > .buttons__right,
.confirm-modal > .buttons__center,
.confirm-modal > .buttons__left {
	margin-top: 1rem;
}
