header {
	background-color: var(--color-white);
	width: 100%;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar__logo {
	width: 5rem;
	line-height: 2rem;
	font-size: var(--font-size-x-large);
	font-weight: var(--font-weight-bold);
	text-decoration: none;
}

.navbar__logo-link {
	color: var(--color-black);
}

.navbar__logo-highlighted-text {
	color: var(--color-orange);
	font-family: var(--font-family-monospace);
	font-size: var(--font-size-x-large);
}

.navbar__navigation {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.navbar__navigation-list-item {
	line-height: 2rem;
	padding: 0.5rem;
}

.navbar__navigation-list-item a {
	text-decoration: none;
	color: var(--color-dark-gray);
	font-size: var(--font-size-medium);
}

.navbar__navigation-list-item a:hover,
.navbar__navigation-list-item a:active {
	color: var(--color-orange);
}

/* navbar account menu */
.navbar__account-menu {
	position: relative;
}

.navbar__account-user {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	cursor: pointer;
}

.navbar__account-user-avatar {
	width: 1.8rem;
	height: 1.8rem;
	border-radius: var(--border-radius-small);
	overflow: hidden;
}

.navbar__account-user-avatar img {
	width: 100%;
	height: auto;
}

.navbar__account-user-info {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: var(--font-size-large);
}

.navbar__account-user-info .icon {
	font-size: var(--font-size-x-large);
	color: var(--color-gray-2);
}

.navbar__account-menu-options {
	position: absolute;
	top: 3rem;
	right: 0;
	width: 100%;
	padding: 0.7rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: center;
	background-color: var(--color-white);
	border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
	border: 2px solid var(--color-lighter-gray);
	border-top: none;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: all 0.4s ease-in-out;
}

.navbar__account-menu-option {
	cursor: pointer;
}

.navbar__account-menu-option:hover {
	color: var(--color-orange);
}

.navbar__account-menu:focus .navbar__account-menu-options,
.navbar__account-menu:hover .navbar__account-menu-options {
	opacity: 1;
	visibility: visible;
}
/* navbar account menu end */
