/* form step 1 */
.step-one .categories,
.step-one .prices {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-between;
}
.step-one .prices .input,
.step-one .categories .select-input {
	flex: 1;
}
.step-one .categories .select-input select {
	width: 100%;
}

/* form step 2 */
.step-two {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1rem;
}

/* form step 4 - success or error after submit form */
.success-or-error {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.success-or-error__lottie-container {
	width: 120px;
	height: 120px;
	margin-bottom: 1rem;
}

.success-or-error__processing h2,
.success-or-error__message h2 {
	font-size: var(--font-size-xx-large);
	font-weight: var(--font-weight-normal);
	margin-bottom: 1rem;
}

