:root {
	--color-orange: #f21d08;
	--color-light-orange: #ffdbd1;

	--color-black: #080708;
	--color-dark-gray: #333;
	--color-gray: #6c757d;
	--color-gray-2: #a4a3a3;
	--color-light-gray: #ccc;
	--color-lighter-gray: #f0f0f0;

	--color-purple-taupe: #564e55;
	--color-dark-blue-gray: #686d92;

	--color-red: #ef4444;
	--color-blue: #1a69f4;
	--color-green: #00cf33;
	--color-yellow: #ffc107;
	--color-white: #fff;

	--toastify-color-light: var(--color-white) !important;
	--toastify-color-dark: var(--color-black) !important;
	--toastify-color-info: var(--color-blue) !important;
	--toastify-color-success: var(--color-green) !important;
	--toastify-color-warning: var(--color-yellow) !important;
	--toastify-color-error: var(--color-red) !important;

	--font-size-small: 0.8rem;
	--font-size-medium: 1rem;
	--font-size-large: 1.2rem;
	--font-size-x-large: 1.5rem;
	--font-size-xx-large: 2rem;
	--font-size-xxx-large: 2.5rem;

	--font-family-sans-serif: 'Roboto', sans-serif;
	--font-family-monospace: 'Source Code Pro', monospace;

	--font-weight-light: 300;
	--font-weight-normal: 400;
	--font-weight-bold: 500;

	--border-radius-small: 0.5rem;
	--border-radius-medium: 1rem;
	--border-radius-large: 2rem;
	--border-radius-x-large: 3rem;
	--border-radius-xx-large: 4rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body {
	font-family: var(--font-family-sans-serif);
	font-weight: var(--font-weight-normal);
	color: var(--color-dark-gray);
	background-color: var(--color-lighter-gray);
	margin: 0;
	padding: 0;
}

.container {
	max-width: 1800px;
	margin: 0 auto;
	padding: 0 2rem;
}
